<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionEndpointHandler" class="com.dottydingo.service.endpoint.SynchronousEndpointHandler">
        <property name="contextBuilder" ref="hyperionContextBuilder"/>
        <property name="errorHandler" ref="hyperionErrorHandler"/>
        <property name="initialPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionEndpointValidationExecutor"/>
            </bean>
        </property>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusManager"/>
    </bean>

    <bean id="hyperionCompletionHandler" class="com.dottydingo.service.endpoint.DefaultCompletionHandler">
        <property name="contextStatusManager" ref="hyperionEndpointStatusManager"/>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusManager"/>
        <property name="traceManager" ref="traceManager"/>
        <property name="completionCallbacks">
            <list>
                <bean  class="com.dottydingo.hyperion.service.pipeline.HyperionCompletionCallback">
                    <property name="endpointMarshaller" ref="hyperionEndpointMarshaller"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="hyperionErrorHandler" class="com.dottydingo.hyperion.service.pipeline.HyperionErrorHandler">
        <property name="completionHandler" ref="hyperionCompletionHandler"/>
    </bean>

    <bean id="hyperionBaseExecutor" class="com.dottydingo.service.pipeline.SynchronousPhaseExecutor" abstract="true">
        <property name="errorHandler" ref="hyperionErrorHandler"/>
    </bean>
    
    <bean id="hyperionEndpointValidationExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionEndpointValidationPhase"/>
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.hyperion.service.pipeline.selector.CrudPhaseSelector">
                <property name="queryPhaseExecutor" ref="hyperionQueryExecutor"/>
                <property name="getPhaseExecutor" ref="hyperionGetExecutor"/>
                <property name="postPhaseExecutor" ref="hyperionCreateExecutor"/>
                <property name="putPhaseExecutor" ref="hyperionUpdateExecutor"/>
                <property name="deletePhaseExecutor" ref="hyperionDeleteExecutor"/>
                <property name="auditPhaseExecutor" ref="hyperionAuditExecutor"/>
            </bean>
        </property>
    </bean>

    <bean id="baseHyperionPersistenceExecutor" parent="hyperionBaseExecutor" abstract="true">
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionMarhallExecutor"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionQueryExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionQueryPhase"/>
    </bean>

    <bean id="hyperionGetExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionGetPhase"/>
    </bean>

    <bean id="hyperionCreateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionCreatePhase"/>
    </bean>

    <bean id="hyperionUpdateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionUpdatePhase"/>
    </bean>

    <bean id="hyperionDeleteExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionDeletePhase"/>
    </bean>

    <bean id="hyperionMarhallExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionResponseMarshallerPhase"/>
    </bean>

    <bean id="hyperionAuditExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionAuditPhase"/>
    </bean>
    

</beans>