<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionDao" class="com.dottydingo.hyperion.service.persistence.dao.JpaDao"/>

    <bean id="hyperionHistoryEntryFactory" class="com.dottydingo.hyperion.service.persistence.HistoryEntryFactory">
        <property name="endpointMarshaller" ref="hyperionEndpointMarshaller"/>
    </bean>

    <bean id="hyperionPredicateBuilderFactory"
          class="com.dottydingo.hyperion.service.persistence.query.RsqlPredicateBuilderFactory"/>

    <bean id="hyperionOrderBuilderFactory"
          class="com.dottydingo.hyperion.service.persistence.sort.HyperionOrderBuilderFactory"/>

    <bean id="hyperionPersistenceFilter" class="com.dottydingo.hyperion.service.persistence.EmptyPersistenceFilter"/>
    <bean id="hyperionPersistenceOperations"
          class="com.dottydingo.hyperion.service.persistence.JpaPersistenceOperations">
        <property name="dao" ref="hyperionDao"/>
        <property name="orderBuilderFactory" ref="hyperionOrderBuilderFactory"/>
        <property name="predicateBuilderFactory" ref="hyperionPredicateBuilderFactory"/>
        <property name="historyEntryFactory" ref="hyperionHistoryEntryFactory"/>
        <property name="persistenceFilter" ref="hyperionPersistenceFilter"/>
    </bean>

    <bean id="hyperionDefaultArgumentParser" class="com.dottydingo.hyperion.service.persistence.query.DefaultArgumentParser"/>

    <bean id="hyperionEndpointMarshaller" class="com.dottydingo.hyperion.service.marshall.EndpointMarshaller">
        <property name="objectMapper" ref="hyperionObjectMapper"/>
    </bean>

    <bean id="hyperionObjectMapper" class="com.dottydingo.hyperion.service.marshall.ObjectMapperBuilder"/>

</beans>