<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionDao" class="com.dottydingo.hyperion.service.persistence.dao.JpaDao"/>

    <bean id="hyperionHistoryEntryFactory" class="com.dottydingo.hyperion.service.persistence.HistoryEntryFactory">
        <property name="endpointMarshaller" ref="hyperionEndpointMarshaller"/>
    </bean>

    <bean id="hyperionPredicateBuilderFactory"
          class="com.dottydingo.hyperion.service.persistence.query.RsqlPredicateBuilderFactory"/>

    <bean id="hyperionOrderBuilderFactory"
          class="com.dottydingo.hyperion.service.persistence.sort.HyperionOrderBuilderFactory"/>

    <bean id="hyperionBasePersistenceOperations"
          class="com.dottydingo.hyperion.service.persistence.JpaPersistenceOperations">
        <property name="orderBuilderFactory" ref="hyperionOrderBuilderFactory"/>
        <property name="predicateBuilderFactory" ref="hyperionPredicateBuilderFactory"/>
        <property name="historyEntryFactory" ref="hyperionHistoryEntryFactory"/>
    </bean>

    <bean id="hyperionTransactionDecorator" class="com.dottydingo.hyperion.service.persistence.TransactionalDecorator">
        <property name="delegate" ref="hyperionBasePersistenceOperations"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="hyperionExceptionMappingDecorator" class="com.dottydingo.hyperion.service.persistence.ExceptionMappingDecorator">
        <property name="delegate" ref="hyperionTransactionDecorator"/>
    </bean>

    <alias name="hyperionExceptionMappingDecorator" alias="hyperionPersistenceOperations"/>

    <bean id="hyperionDefaultArgumentParser" class="com.dottydingo.hyperion.service.persistence.query.DefaultArgumentParser"/>

    <bean id="hyperionEndpointMarshaller" class="com.dottydingo.hyperion.service.marshall.EndpointMarshaller">
        <property name="objectMapper" ref="hyperionObjectMapper"/>
    </bean>

    <bean id="hyperionObjectMapper" class="com.dottydingo.hyperion.service.marshall.ObjectMapperBuilder"/>

    <bean id="hyperionBaseEntityPlugin" class="com.dottydingo.hyperion.service.configuration.EntityPlugin" abstract="true">
        <property name="dao" ref="hyperionDao"/>
        <property name="persistenceOperations" ref="hyperionPersistenceOperations"/>
    </bean>

</beans>