<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionEndpointHandler" class="com.dottydingo.service.endpoint.AsynchronousEndpointHandler">
        <property name="contextBuilder" ref="hyperionContextBuilder"/>
        <property name="errorHandler" ref="hyperionErrorHandler"/>
        <property name="initialPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionEndpointValidationExecutor"/>
            </bean>
        </property>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusManager"/>
        <property name="timeout" value="${endpoint.asynchronousTimeout}"/>
    </bean>

    <bean id="hyperionCompletionHandler" class="com.dottydingo.service.endpoint.AsynchronousCompletionHandler">
        <property name="contextStatusManager" ref="hyperionEndpointStatusManager"/>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusManager"/>
        <property name="requestLogHandler" ref="hyperionRequestLogHandler"/>
        <property name="traceManager" ref="traceManager"/>
        <property name="completionCallbacks">
            <list>
                <bean  class="com.dottydingo.hyperion.service.pipeline.HyperionCompletionCallback">
                    <property name="endpointMarshaller" ref="hyperionEndpointMarshaller"/>
                </bean>
            </list>
        </property>
    </bean>


    <bean id="hyperionErrorHandler" class="com.dottydingo.hyperion.service.pipeline.HyperionErrorHandler"/>

    <bean id="hyperionBaseExecutor" class="com.dottydingo.service.endpoint.pipeline.EndpointAsynchronousExecutor" abstract="true">
        <property name="errorHandler" ref="hyperionErrorHandler"/>
    </bean>

    <bean id="hyperionEndpointValidationExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionEndpointValidationPhase"/>
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.hyperion.service.pipeline.selector.CrudPhaseSelector">
                <property name="queryPhaseExecutor" ref="hyperionQueryExecutor"/>
                <property name="getPhaseExecutor" ref="hyperionGetExecutor"/>
                <property name="postPhaseExecutor" ref="hyperionCreateExecutor"/>
                <property name="putPhaseExecutor" ref="hyperionUpdateExecutor"/>
                <property name="deletePhaseExecutor" ref="hyperionDeleteExecutor"/>
                <property name="historyPhaseExecutor" ref="hyperionHistoryExecutor"/>
            </bean>
        </property>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionEndpointValidationPhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="baseHyperionPersistenceExecutor" parent="hyperionBaseExecutor" abstract="true">
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionMarhallExecutor"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionQueryExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionQueryPhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionQueryPhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionGetExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionGetPhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionGetPhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionCreateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionCreatePhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionCreatePhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionUpdateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionUpdatePhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionUpdatePhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionDeleteExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionDeletePhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionDeletePhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionHistoryExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionHistoryPhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionAuditPhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionMarhallExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionResponseMarshallerPhase"/>
        <property name="executor">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
                <property name="threadNamePrefix" value="hyperionResponseMarshallerPhase"/>
                <property name="corePoolSize" value="5"/>
                <property name="maxPoolSize" value="5"/>
                <property name="queueCapacity" value="1024"/>
            </bean>
        </property>
    </bean>



</beans>