<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionPipelineInitiator" class="com.dottydingo.service.endpoint.AsynchronousPipelineInitiator">
        <property name="initialPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionEndpointValidationExecutor"/>
            </bean>
        </property>
        <property name="timeout" value="${endpoint.asynchronousTimeout}"/>
    </bean>

    <bean id="hyperionBaseExecutor" class="com.dottydingo.service.endpoint.pipeline.EndpointAsynchronousExecutor" abstract="true">
        <property name="errorHandler" ref="hyperionErrorHandler"/>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusRegistry"/>
    </bean>

    <bean id="hyperionEndpointValidationExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionEndpointValidationPhase"/>
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.selector.CrudPhaseSelector">
                <property name="queryPhaseExecutor" ref="hyperionQueryExecutor"/>
                <property name="getPhaseExecutor" ref="hyperionGetExecutor"/>
                <property name="postPhaseExecutor" ref="hyperionCreateExecutor"/>
                <property name="putPhaseExecutor" ref="hyperionUpdateExecutor"/>
                <property name="deletePhaseExecutor" ref="hyperionDeleteExecutor"/>
                <property name="historyPhaseExecutor" ref="hyperionHistoryExecutor"/>
                <property name="optionsPhaseExecutor" ref="hyperionOptionsExecutor"/>
            </bean>
        </property>
        <property name="executor" ref="hyperionEndpointValidationTpExecutor"/>
    </bean>

    <bean id="hyperionEndpointValidationTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.endpointValidationPhase.minThreads}"/>
        <constructor-arg value="${pipeline.endpointValidationPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg >
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.endpointValidationPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionEndpointValidationPhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionEndpointValidationTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionEndpointValidationTpExecutor"/>
    </bean>

    <bean id="baseHyperionPersistenceExecutor" parent="hyperionBaseExecutor" abstract="true">
        <property name="nextPhaseSelector">
            <bean class="com.dottydingo.service.pipeline.StaticNextPhaseSelector">
                <property name="nextPhase" ref="hyperionMarhallExecutor"/>
            </bean>
        </property>
    </bean>

    <bean id="hyperionQueryExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionQueryPhase"/>
        <property name="executor" ref="hyperionQueryTpExecutor"/>
    </bean>

    <bean id="hyperionQueryTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.queryPhase.minThreads}"/>
        <constructor-arg value="${pipeline.queryPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.queryPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionQueryPhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionQueryTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionQueryTpExecutor"/>
    </bean>

    <bean id="hyperionGetExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionGetPhase"/>
        <property name="executor" ref="hyperionGetTpExecutor"/>
    </bean>

    <bean id="hyperionGetTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.getPhase.minThreads}"/>
        <constructor-arg value="${pipeline.getPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.getPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionGetPhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionGetTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionGetTpExecutor"/>
    </bean>

    <bean id="hyperionCreateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionCreatePhase"/>
        <property name="executor" ref="hyperionCreateTpExecutor"/>
    </bean>

    <bean id="hyperionCreateTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.createPhase.minThreads}"/>
        <constructor-arg value="${pipeline.createPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.createPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionCreatePhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionCreateTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionCreateTpExecutor"/>
    </bean>

    <bean id="hyperionUpdateExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionUpdatePhase"/>
        <property name="executor" ref="hyperionUpdateTpExecutor"/>
    </bean>

    <bean id="hyperionUpdateTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.updatePhase.minThreads}"/>
        <constructor-arg value="${pipeline.updatePhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.updatePhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionUpdatePhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionUpdateTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionUpdateTpExecutor"/>
    </bean>

    <bean id="hyperionDeleteExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionDeletePhase"/>
        <property name="executor" ref="hyperionDeleteTpExecutor"/>
    </bean>

    <bean id="hyperionDeleteTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.deletePhase.minThreads}"/>
        <constructor-arg value="${pipeline.deletePhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.deletePhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionDeletePhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionDeleteTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionDeleteTpExecutor"/>
    </bean>

    <bean id="hyperionHistoryExecutor" parent="baseHyperionPersistenceExecutor">
        <property name="phase" ref="hyperionHistoryPhase"/>
        <property name="executor" ref="hyperionHistoryTpExecutor"/>
    </bean>

    <bean id="hyperionHistoryTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.historyPhase.minThreads}"/>
        <constructor-arg value="${pipeline.historyPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.historyPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionHistoryPhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionHistoryTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionHistoryTpExecutor"/>
    </bean>


    <bean id="hyperionOptionsExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionOptionsPhase"/>
        <property name="executor" ref="hyperionOptionsTpExecutor"/>
    </bean>

    <bean id="hyperionOptionsTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.optionsPhase.minThreads}"/>
        <constructor-arg value="${pipeline.optionsPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg >
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.optionsPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg >
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionOptionsPhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg >
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionOptionsTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionOptionsTpExecutor"/>
    </bean>

    <bean id="hyperionMarhallExecutor" parent="hyperionBaseExecutor">
        <property name="phase" ref="hyperionResponseMarshallerPhase"/>
        <property name="executor" ref="hyperionMarhallTpExecutor"/>
    </bean>

    <bean id="hyperionMarhallTpExecutor" class="java.util.concurrent.ThreadPoolExecutor" destroy-method="shutdown">
        <constructor-arg value="${pipeline.responseMarshallerPhase.minThreads}"/>
        <constructor-arg value="${pipeline.responseMarshallerPhase.maxThreads}"/>
        <constructor-arg value="60"/>
        <constructor-arg value="SECONDS"/>
        <constructor-arg>
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg type="int" value="${pipeline.responseMarshallerPhase.maxQueueSize}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionThreadFactory">
                <property name="threadNamePrefix" value="hyperionMarshallResponsePhase"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="com.dottydingo.hyperion.core.endpoint.pipeline.HyperionRejectedExecutionHandler"/>
        </constructor-arg>
    </bean>

    <bean id="hyperionMarhallTpExecutorMbean" class="com.dottydingo.hyperion.core.endpoint.status.ExecutorStatus">
        <constructor-arg ref="hyperionMarhallTpExecutor"/>
    </bean>
</beans>