<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">



    <bean id="hyperionContextBuilder" class="com.dottydingo.hyperion.core.endpoint.HyperionContextBuilder">
        <property name="endpointConfiguration" ref="hyperionEndpointConfiguration"/>
        <property name="traceFactory" ref="traceFactory"/>
        <property name="completionHandler" ref="hyperionCompletionHandler"/>
    </bean>

    <bean id="hyperionUserContextBuilder" class="com.dottydingo.service.endpoint.context.EmptyUserContextBuilder"/>

    <bean id="hyperionEndpointStatusBuilder" class="com.dottydingo.service.endpoint.status.DefaultContextStatusBuilder"/>

    <bean id="hyperionEndpointStatusRegistry" class="com.dottydingo.service.endpoint.status.DefaultContextStatusRegistry"/>

    <bean id="hyperionEndpointStatus" class="com.dottydingo.hyperion.core.endpoint.status.ServiceStatus">
        <property name="forceDown" value="${hyperion.endpoint.forceDown}"/>
        <property name="readOnly" value="${hyperion.endpoint.readOnly}"/>
    </bean>

    <bean id="hyperionEndpointConfiguration" class="com.dottydingo.hyperion.core.configuration.HyperionEndpointConfiguration">
        <property name="allowTrace" value="${hyperion.endpoint.allowTrace}"/>
        <property name="correlationIdHeaderName" value="${hyperion.endpoint.correlationIdHeaderName}"/>
        <property name="correlationIdParameterName" value="${hyperion.endpoint.correlationIdParameterName}"/>
        <property name="maxRequestBodySize" value="${hyperion.endpoint.maxRequestBodySize}"/>
        <property name="restrictedTraceDomainsAsArray" value="${hyperion.endpoint.restrictedTraceDomains}"/>
        <property name="traceHeaderName" value="${hyperion.endpoint.traceHeaderName}"/>
        <property name="traceParameterName" value="${hyperion.endpoint.traceParameterName}"/>
        <property name="requireVersion" value="${hyperion.endpoint.requireVersion}"/>
        <property name="requireValidVersion" value="${hyperion.endpoint.requireValidVersion}"/>
        <property name="versionHeaderName" value="${hyperion.endpoint.versionHeaderName}"/>
        <property name="versionParameterName" value="${hyperion.endpoint.versionParameterName}"/>
        <property name="forceConnectionClose" value="${hyperion.endpoint.forceConnectionClose}"/>
        <property name="allowedOrigins" value="${hyperion.endpoint.allowedOrigins}"/>
        <property name="accessControlMaxAge" value="${hyperion.endpoint.accessControlMaxAge}"/>
        <property name="defaultLimit" value="${hyperion.endpoint.defaultLimit}"/>
        <property name="maxLimit" value="${hyperion.endpoint.maxLimit}"/>
        <property name="includeErrorDetail" value="${hyperion.endpoint.includeErrorDetail}"/>
        <property name="enableResponseCompression" value="${hyperion.endpoint.enableResponseCompression}"/>
        <property name="responseCompressionThreshold" value="${hyperion.endpoint.responseCompressionThreshold}"/>
        <property name="trackProvidedFieldsOnUpdate" value="${hyperion.endpoint.trackProvidedFieldsOnUpdate}"/>
        <property name="writeLimit" value="${hyperion.endpoint.writeLimit}"/>
        <property name="endpointPath" value="${hyperion.endpoint.path}"/>
    </bean>

    <bean id="hyperionRequestLogHandler" class="com.dottydingo.hyperion.core.endpoint.NoOpRequestLogHandler"/>

    <bean id="hyperionEndpointHandler" class="com.dottydingo.service.endpoint.DefaultEndpointHandler">
        <property name="contextBuilder" ref="hyperionContextBuilder"/>
        <property name="errorHandler" ref="hyperionErrorHandler"/>
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusRegistry"/>
        <property name="contextStatusBuilder" ref="hyperionEndpointStatusBuilder"/>
        <property name="pipelineInitiator" ref="hyperionPipelineInitiator"/>
        <property name="userContextBuilder" ref="hyperionUserContextBuilder"/>
        <property name="endpointStatus" ref="hyperionEndpointStatus"/>
    </bean>


    <bean id="hyperionCompletionHandler" class="com.dottydingo.service.endpoint.DefaultCompletionHandler">
        <property name="contextStatusRegistry" ref="hyperionEndpointStatusRegistry"/>
        <property name="traceManager" ref="traceManager"/>
        <property name="requestLogHandler" ref="hyperionRequestLogHandler"/>
        <property name="endpointStatus" ref="hyperionEndpointStatus"/>
        <property name="completionCallbacks">
            <list>
                <bean  class="com.dottydingo.hyperion.core.endpoint.HyperionCompletionCallback">
                    <property name="endpointMarshaller" ref="hyperionEndpointMarshaller"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>