<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       ">

    <bean id="hyperionDao" class="com.dottydingo.hyperion.jpa.persistence.JpaDao"/>

    <bean id="hyperionPersistentQueryBuilderFactory"
          class="com.dottydingo.hyperion.jpa.persistence.query.JpaPersistentQueryBuilderFactory"/>

    <bean id="hyperionPersistentOrderBuilderFactory"
          class="com.dottydingo.hyperion.jpa.persistence.sort.JpaPersistentOrderBuilderFactory"/>



    <bean id="hyperionTransactionDecorator" class="com.dottydingo.hyperion.core.persistence.TransactionalDecorator">
        <property name="delegate" ref="hyperionBasePersistenceOperations"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>


</beans>